@tailwind base;
@tailwind components;
@tailwind utilities;

.hover-underline-animation {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: black;
    transition: width 0.3s ease;
}

.hover-underline-animation:hover::after {
    width: 100%;
    left: 0;
    background: black;
}